@import url("https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css");
@import url("../Datatables/datatables.min.css");
@import url("../Datatables/DataTables/css/dataTables.bootstrap5.min.css");
@import url("flatpickr.min.css");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0");

:root {
  --bs-blue: #0d6efd;
  --bs-indigo: #6610f2;
  --bs-purple: #6f42c1;
  --bs-pink: #d63384;
  --bs-red: #dc3545;
  --bs-orange: #fd7e14;
  --bs-yellow: #ffc107;
  --bs-green: #198754;
  --bs-teal: #20c997;
  --bs-cyan: #0dcaf0;
  --bs-white: #fff;
  --bs-gray: #757575;
  --bs-gray-dark: #424242;
  --bs-gray-100: #f5f5f5;
  --bs-gray-200: #eeeeee;
  --bs-gray-300: #e0e0e0;
  --bs-gray-400: #bdbdbd;
  --bs-gray-500: #9e9e9e;
  --bs-gray-600: #757575;
  --bs-gray-700: #616161;
  --bs-gray-800: #424242;
  --bs-gray-900: #212121;
  --bs-primary: #6200ea;
  --bs-secondary: #9c27b0;
  --bs-success: #2e7d32;
  --bs-info: #26a69a;
  --bs-warning: #ffb300;
  --bs-danger: #d32f2f;
  --bs-light: #f5f5f5;
  --bs-dark: #212121;
  --bs-white: #fff;
  --bs-black: #000;
  --bs-gray: #9e9e9e;
  --bs-primary-rgb: 98, 0, 234;
  --bs-secondary-rgb: 156, 39, 176;
  --bs-success-rgb: 46, 125, 50;
  --bs-info-rgb: 38, 166, 154;
  --bs-cyan-rgb: 200, 220, 240;
  --bs-warning-rgb: 255, 179, 0;
  --bs-danger-rgb: 211, 47, 47;
  --bs-light-rgb: 245, 245, 245;
  --bs-light-gray-rgb: 220,220,220;
  --bs-dark-rgb: 33, 33, 33;
  --bs-white-rgb: 255, 255, 255;
  --bs-black-rgb: 0, 0, 0;
  --bs-gray-rgb: 158, 158, 158;
  --bs-white-rgb: 255, 255, 255;
  --bs-black-rgb: 0, 0, 0;
  --bs-body-color-rgb: 66, 66, 66;
  --bs-body-bg-rgb: 255, 255, 255;
  --bs-font-sans-serif: "Roboto", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --bs-font-monospace: "Roboto Mono", SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
  --bs-body-font-family: var(--bs-font-sans-serif);
  --bs-body-font-size: 0.9rem;
  --bs-body-font-weight: 400;
  --bs-body-line-height: 1;
  --bs-body-color: #424242;
  --bs-body-bg: #fff;
}

html, body {
  font-family: "Poppins";
  font-style: normal;
  background-color: #f4f4f4;
  overflow-x: hidden;
  position: relative;
}

.btn-statistics, .nav-input, .nav-input-group .btn-nav-input, .nav .btn-notif, #toggle-navbar {
  background-color: transparent;
  border: none;
  outline: none;
}

.screen-cover {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.4);
  display: block;
}

#toggle-navbar {
  margin-right: 15px;
  display: block;
}
@media (min-width: 1200px) {
  #toggle-navbar {
    display: none;
  }
}

aside {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 350px;
  left: 0;
  z-index: 996;
  transition: all 0.3s;
  padding: 50px 20px;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: #aab7cf transparent;
  box-shadow: 0px 0px 20px rgba(1, 41, 112, 0.1);
  background-color: #fff;
}
aside #toggle-navbar {
  margin-left: 20px;
}

@media (max-width: 1199px) {
  aside {
    left: -350px;
  }
}
#main {
  padding: 20px 25px;
  transition: all 0.3s;
}

@media (max-width: 1199px) {
  #main {
    padding: 20px;
  }
}

@media (min-width: 1200px) {
  #main{
    margin-left: 350px !important;
  }
}

.sidebar-logo {
  /* display: flex; */
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
}
@media (min-width: 1200px) {
  .sidebar-logo {
    padding: 0 24px;
    justify-content: center;
  }
}
.sidebar-logo span {
  font-weight: 800;
  font-size: 20px;
  line-height: 30px;
  color: #121F3E;
  margin-left: 16px;
}
.sidebar-title {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #ABB3C4;
  margin-top: 20px;
  margin-bottom: 12px;
}
.sidebar-item {
  text-decoration: none;
  background: transparent;
  height: 46px;
  border-radius: 16px;
  padding: 0 11px;
  margin-bottom: 8px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 17rem;
}
.sidebar-item.active {
  background: #4640DE;
}
.sidebar-item.active span {
  color: #fff;
}
.sidebar-item.active svg path {
  stroke: #fff;
}
.sidebar-item svg {
  width: 18px;
  height: 18px;
  margin-right: 20px;
}
.sidebar-item svg path {
  stroke: #ABB3C4;
}
.sidebar-item span {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height */
  color: #121F3E;
}

.col-navbar {
  transition: 1s;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 50px 14px 24px 14px;
}
@media (min-width: 768px) {
  .nav {
    flex-wrap: nowrap;
  }
}
@media (min-width: 1200px) {
  .nav {
    padding: 24px 64px 24px 0px;
  }
}
.nav .btn-notif {
  width: 46px;
  height: 46px;
  background: #fff;
  border-radius: 50%;
  margin-left: 20px;
}
.nav .btn-notif img {
  width: 24px;
  height: 24px;
}

.nav .btn-notif:hover{
  background-color: #DCDCDC;
}

@media (min-width: 992px) {
  .nav .btn-notif {
    width: 52px;
  }
}

.nav-title {
  font-weight: 600;
  font-size: 32px;
  line-height: 48px;
  color: #121F3E;
}
.nav-input-container {
  width: 100%;
}
@media (min-width: 768px) {
  .nav-input-container {
    width: auto;
  }
}
.nav-input-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 46px;
  padding: 0 18px;
  width: 100%;
  background: #fff;
  border-radius: 100px;
}
.nav-input-group .btn-nav-input {
  width: auto;
}
@media (min-width: 768px) {
  .nav-input-group {
    width: 400px !important;
  }
}
@media (min-width: 992px) {
  .nav-input-group {
    width: 400px;
  }
}
@media (min-width: 1200px) {
  .nav-input-group {
    width: 500px;
  }
}
.nav-input {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-style: italic;
  font-weight: 300;
  font-size: 12px;
  line-height: 18px;
  color: #ABB3C4;
  width: 100%;
}
@media (min-width: 576px) {
  .nav-input {
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
  }
}

.content {
  padding: 10px 10px 14px 14px;
}
@media (min-width: 1200px) {
  .content {
    padding: 0px 50px 0px 10px;
  }
}

.content-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #121F3E;
}
.content-title:first-of-type {
  margin-top: 5px;
}
.content-desc {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* color: #ABB3C4; */
  color: #808080;
}

.statistics-card {
  width: 100%;
  padding: 27px;
  background: #fff;
  border-radius: 26px;
  margin-bottom: 14px;
}
.statistics-card.simple {
  padding: 24px;
}
@media (min-width: 1200px) {
  .statistics-card {
    margin-bottom: 10px;
  }
}
.statistics-value {
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
  color: #121F3E;
}
.statistics-list {
  margin-top: 50px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.statistics-image {
  border: 2px solid white;
  border-radius: 50%;
  width: 36px;
  height: 36px;
}
.statistics-image:not(:last-child) {
  margin-right: -12px;
}
.statistics-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid white;
  border-radius: 50%;
  width: 36px;
  height: 36px;
}
.statistics-icon img {
  width: 18px;
  height: 18px;
}
.statistics-icon span {
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  text-align: center;
}
.statistics-icon:not(:last-child) {
  margin-right: -12px;
}
.statistics-icon.award {
  background: #F4F9EC;
}
.statistics-icon.box {
  background: #ECE9FF;
}
.statistics-icon.globe {
  background: #ECF7F9;
}
.statistics-icon.target {
  background: #FFDDED;
}
.statistics-icon.one {
  background: #ECE9FF;
  color: #877AD8;
}
.statistics-icon.two {
  background: #FFFBEC;
  color: #FED54E;
}
.statistics-icon.three {
  background: #ECF7F9;
  color: #7AC9D8;
}
.statistics-icon.four {
  background: #FEF6EC;
  color: #F9AC44;
}
.statistics-icon.five {
  background: #F4F9EC;
  color: #9DC454;
}

.document-card {
  padding: 24px;
  background: #fff;
  border-radius: 26px;
  margin-bottom: 16px;
}
.document-card .document-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.document-card .document-item .document-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  margin-right: 16px;
  border-radius: 50%;
}
.document-card .document-item .document-icon.award {
  background: #F4F9EC;
}
.document-card .document-item .document-icon.box {
  background: #ECE9FF;
}
.document-card .document-item .document-icon.globe {
  background: #ECF7F9;
}
.document-card .document-item .document-icon.target {
  background: #FFDDED;
}
.document-card .document-item .document-icon.database {
  background: #FFF3E9;
}
.document-card .document-item .document-icon img {
  width: 24px;
  height: 24px;
}
.document-card .document-item:not(:last-child) {
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #F7F7FA;
}
.document-title {
  font-weight: 600;
  font-size: 16px;
  line-height: 14px;
  margin-top: 2px;
  color: #121F3E;
}
.document-desc {
  font-weight: 400;
  font-size: 16px;
  color: #ABB3C4;
  margin: 0;
}

.btn-statistics {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #F8F8FA;
}

.employee-stat {
  height: 82px;
}
.employee-stat .content-desc {
  line-height: 0;
}
.employee-stat .statistics-value {
  line-height: 0;
}
.employee-card {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 280px;
  background: #fff;
  border-radius: 26px;
  padding: 40px 0;
  margin-bottom: 40px;
}
.employee-img {
  width: 70px;
  height: 70px;
}
.employee-name {
  font-weight: 600;
  font-size: 18px;
  line-height: 20px;
  /* identical to box height */
  text-align: center;
  color: #121F3E;
}
.employee-role {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height */
  text-align: center;
  color: #ABB3C4;
}
.employee-status > * {
  margin: 0 2px;
}
.employee-status.verified {
  color: #2ED16C;
}
.employee-status.unverified {
  text-decoration-line: underline;
  color: #4640DE;
}
.employee-status span,
.employee-status a {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
}
.employee-status-image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-success {
  color: #fff;
  background-color:#2e7d32;
  border-color: #2e7d32;
  --mdc-ripple-fg-size: 0;
  --mdc-ripple-left: 0;
  --mdc-ripple-top: 0;
  --mdc-ripple-fg-scale: 1;
  --mdc-ripple-fg-translate-end: 0;
  --mdc-ripple-fg-translate-start: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  will-change: transform, opacity;
  overflow: hidden;
  position: relative;
  border: none;
  padding: calc(0.40625rem + 1px) calc(1rem + 1px);
}

.btn-primary {
  color: #fff;
  background-color: #6200ea;
  border-color: #6200ea;
  --mdc-ripple-fg-size: 0;
  --mdc-ripple-left: 0;
  --mdc-ripple-top: 0;
  --mdc-ripple-fg-scale: 1;
  --mdc-ripple-fg-translate-end: 0;
  --mdc-ripple-fg-translate-start: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  will-change: transform, opacity;
  overflow: hidden;
  position: relative;
  border: none;
  padding: calc(0.40625rem + 1px) calc(1rem + 1px);
}
.btn-primary:hover {
  color: #fff;
  background-color: #5300c7;
  border-color: #4e00bb;
}

.bg-purple {
  --bs-bg-opacity: 1;
  background-color: var(--bs-purple) !important;
}

.bg-primary {
  --bs-bg-opacity: 1;
  background-color: rgba(var(--bs-primary-rgb), var(--bs-bg-opacity)) !important;
}

.bg-secondary {
  --bs-bg-opacity: 1;
  background-color: rgba(var(--bs-secondary-rgb), var(--bs-bg-opacity)) !important;
}

.bg-success {
  --bs-bg-opacity: 1;
  background-color: rgba(var(--bs-success-rgb), var(--bs-bg-opacity)) !important;
}

.bg-info {
  --bs-bg-opacity: 1;
  background-color: rgba(var(--bs-info-rgb), var(--bs-bg-opacity)) !important;
}

.bg-cyan {
  --bs-bg-opacity: 1;
  background-color: rgba(var(--bs-cyan-rgb), var(--bs-bg-opacity)) !important;
}

.bg-warning {
  --bs-bg-opacity: 1;
  background-color: rgba(var(--bs-warning-rgb), var(--bs-bg-opacity)) !important;
}

.bg-danger {
  --bs-bg-opacity: 1;
  background-color: rgba(var(--bs-danger-rgb), var(--bs-bg-opacity)) !important;
}

.bg-light, .footer-light {
  --bs-bg-opacity: 1;
  background-color: rgba(var(--bs-light-rgb), var(--bs-bg-opacity)) !important;
}

.bg-light-gray {
  --bs-bg-opacity: 1;
  background-color: rgba(var(--bs-light-gray-rgb), var(--bs-bg-opacity)) !important;
}

.bg-dark {
  --bs-bg-opacity: 1;
  background-color: rgba(var(--bs-dark-rgb), var(--bs-bg-opacity)) !important;
}

.bg-white {
  --bs-bg-opacity: 1;
  background-color: rgba(var(--bs-white-rgb), var(--bs-bg-opacity)) !important;
}

.bg-black {
  --bs-bg-opacity: 1;
  background-color: rgba(var(--bs-black-rgb), var(--bs-bg-opacity)) !important;
}

.bg-gray {
  --bs-bg-opacity: 1;
  background-color: rgba(var(--bs-gray-rgb), var(--bs-bg-opacity)) !important;
}

.preload-wrapper {
	z-index:9999999999;
	position: fixed;
	top:0;
	left: 0;
	right: 0;
	bottom:0;
	background:#fff;
	overflow: hidden;
}
#preloader_1{
    position:relative;
    width:60px;
    margin:7% auto;
}
#preloader_1 span{
    display:block;
    bottom:0px;
    width: 9px;
    height: 5px;
    background:#9b59b6;
    position:absolute;
    -webkit-animation: preloader_1 1.5s  infinite ease-in-out;
    animation: preloader_1 1.5s  infinite ease-in-out;

}
 
#preloader_1 span:nth-child(2){
left:11px;
-webkit-animation-delay: .2s;
animation-delay: .2s;
}
#preloader_1 span:nth-child(3){
left:22px;
-webkit-animation-delay: .4s;
animation-delay: .4s;
}
#preloader_1 span:nth-child(4){
left:33px;
-webkit-animation-delay: .6s;
animation-delay: .6s;
}
#preloader_1 span:nth-child(5){
left:44px;
-webkit-animation-delay: .8s;
animation-delay: .8s;
}
@-webkit-keyframes preloader_1 {
    0% {height:5px;transform:translateY(0px);background:#9b59b6;}
    25% {height:30px;transform:translateY(15px);background:#3498db;}
    50% {height:5px;transform:translateY(0px);background:#9b59b6;}
    100% {height:5px;transform:translateY(0px);background:#9b59b6;}
}
@keyframes preloader_1 {
    0% {height:5px;transform:translateY(0px);background:#9b59b6;}
    25% {height:30px;transform:translateY(15px);background:#3498db;}
    50% {height:5px;transform:translateY(0px);background:#9b59b6;}
    100% {height:5px;transform:translateY(0px);background:#9b59b6;}
}

.material-symbols-outlined {
  rotate: 180deg;
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

.pointer {
  cursor: pointer !important;
  }

.sbp-preview {
  border-radius: 0.35rem;
  border: 0.25rem solid #fafcff;
  border-style: solid;
}

.sbp-preview .sbp-preview-content {
  padding: 1rem;
  border-bottom: 1px solid #e0e5ec;
  position: relative;
}

.sbp-preview .sbp-preview-code {
  background-color: #f2f6fc;
  padding: 1.5rem;
  border-bottom: 1px solid #e0e5ec;
}

.sbp-preview .sbp-preview-code .nav-tabs {
  border-bottom-color: transparent;
  font-size: 0.75rem;
  font-weight: 500;
}

.sbp-preview .sbp-preview-code .nav-tabs .nav-item .nav-link {
  border-bottom: 0;
  display: inline-flex;
  align-items: center;
}

.sbp-preview .sbp-preview-code .nav-tabs .nav-item .nav-link.active {
  border-color: transparent;
  background-color: #2f2f2f;
  color: #fff;
}

.sbp-preview .sbp-preview-code .nav-tabs .nav-item .nav-link .img-pug {
  height: 1em;
  padding: 1px 0;
}

.sbp-preview .sbp-preview-text {
  background-color: #f2f6fc;
  font-size: 0.875rem;
  padding: 1.5rem;
}

.step {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
}

.step .step-item {
  flex: 1 1 0;
  position: relative;
  text-align: center;
}

.step .step-item:not(:first-child):before {
  background-color: #69707a;
  content: "";
  height: 0.125rem;
  left: -50%;
  position: absolute;
  top: 0.4375rem;
  width: 100%;
  z-index: 0;
}

.step .step-item .step-item-link {
  color: #69707a;
  position: relative;
  display: inline-block;
  padding-top: 1.25rem;
  padding-left: 1rem;
  padding-right: 1rem;
  text-decoration: none;
  z-index: 1;
}

.step .step-item .step-item-link:before {
  background-color: #69707a;
  border: 0.125rem solid #fff;
  border-radius: 100%;
  content: "";
  display: block;
  height: 1rem;
  width: 1rem;
  left: 50%;
  position: absolute;
  top: 0;
  transform: translate(-50%);
  z-index: 1;
}

.step .step-item .step-item-link.disabled {
  pointer-events: none;
  cursor: default;
}

.step .step-item.active a:before {
  background: #fff;
  border: 0.125rem solid #69707a;
}

.step .step-item.active~.step-item .step-item-link {
  color: #d4dae3;
}

.step .step-item.active~.step-item .step-item-link:before {
  background: #d4dae3;
}

.step .step-item.active~.step-item:before {
  background: #d4dae3;
}

.step-lg .step-item:not(:first-child):before {
  height: 0.25rem;
  top: 0.625rem;
}

.step-lg .step-item .step-item-link {
  padding-top: 2rem;
}

.step-lg .step-item .step-item-link:before {
  border-width: 0.25rem;
  height: 1.5rem;
  width: 1.5rem;
}

.step-lg .step-item.active a:before {
  border-width: 0.25rem;
}

.step-primary .step-item:not(:first-child):before {
  background-color: #0061f2;
}

.step-primary .step-item .step-item-link {
  color: #0061f2;
}

.step-primary .step-item .step-item-link:before {
  background-color: #0061f2;
}

.step-primary .step-item.active a:before {
  border-color: #0061f2;
}

.step-secondary .step-item:not(:first-child):before {
  background-color: #6900c7;
}

.step-secondary .step-item .step-item-link {
  color: #6900c7;
}

.step-secondary .step-item .step-item-link:before {
  background-color: #6900c7;
}

.step-secondary .step-item.active a:before {
  border-color: #6900c7;
}

.step-success .step-item:not(:first-child):before {
  background-color: #00ac69;
}

.step-success .step-item .step-item-link {
  color: #00ac69;
}

.step-success .step-item .step-item-link:before {
  background-color: #00ac69;
}

.step-success .step-item.active a:before {
  border-color: #00ac69;
}

.step-info .step-item:not(:first-child):before {
  background-color: #00cfd5;
}

.step-info .step-item .step-item-link {
  color: #00cfd5;
}

.step-info .step-item .step-item-link:before {
  background-color: #00cfd5;
}

.step-info .step-item.active a:before {
  border-color: #00cfd5;
}

.step-warning .step-item:not(:first-child):before {
  background-color: #f4a100;
}

.step-warning .step-item .step-item-link {
  color: #f4a100;
}

.step-warning .step-item .step-item-link:before {
  background-color: #f4a100;
}

.step-warning .step-item.active a:before {
  border-color: #f4a100;
}

.step-danger .step-item:not(:first-child):before {
  background-color: #e81500;
}

.step-danger .step-item .step-item-link {
  color: #e81500;
}

.step-danger .step-item .step-item-link:before {
  background-color: #e81500;
}

.step-danger .step-item.active a:before {
  border-color: #e81500;
}

.step-light .step-item:not(:first-child):before {
  background-color: #f2f6fc;
}

.step-light .step-item .step-item-link {
  color: #f2f6fc;
}

.step-light .step-item .step-item-link:before {
  background-color: #f2f6fc;
}

.step-light .step-item.active a:before {
  border-color: #f2f6fc;
}

.step-dark .step-item:not(:first-child):before {
  background-color: #212832;
}

.step-dark .step-item .step-item-link {
  color: #212832;
}

.step-dark .step-item .step-item-link:before {
  background-color: #212832;
}

.step-dark .step-item.active a:before {
  border-color: #212832;
}

.step-black .step-item:not(:first-child):before {
  background-color: #000;
}

.step-black .step-item .step-item-link {
  color: #000;
}

.step-black .step-item .step-item-link:before {
  background-color: #000;
}

.step-black .step-item.active a:before {
  border-color: #000;
}

.step-white .step-item:not(:first-child):before {
  background-color: #fff;
}

.step-white .step-item .step-item-link {
  color: #fff;
}

.step-white .step-item .step-item-link:before {
  background-color: #fff;
}

.step-white .step-item.active a:before {
  border-color: #fff;
}

.step-red .step-item:not(:first-child):before {
  background-color: #e81500;
}

.step-red .step-item .step-item-link {
  color: #e81500;
}

.step-red .step-item .step-item-link:before {
  background-color: #e81500;
}

.step-red .step-item.active a:before {
  border-color: #e81500;
}

.step-orange .step-item:not(:first-child):before {
  background-color: #f76400;
}

.step-orange .step-item .step-item-link {
  color: #f76400;
}

.step-orange .step-item .step-item-link:before {
  background-color: #f76400;
}

.step-orange .step-item.active a:before {
  border-color: #f76400;
}

.step-yellow .step-item:not(:first-child):before {
  background-color: #f4a100;
}

.step-yellow .step-item .step-item-link {
  color: #f4a100;
}

.step-yellow .step-item .step-item-link:before {
  background-color: #f4a100;
}

.step-yellow .step-item.active a:before {
  border-color: #f4a100;
}

.step-green .step-item:not(:first-child):before {
  background-color: #00ac69;
}

.step-green .step-item .step-item-link {
  color: #00ac69;
}

.step-green .step-item .step-item-link:before {
  background-color: #00ac69;
}

.step-green .step-item.active a:before {
  border-color: #00ac69;
}

.step-teal .step-item:not(:first-child):before {
  background-color: #00ba94;
}

.step-teal .step-item .step-item-link {
  color: #00ba94;
}

.step-teal .step-item .step-item-link:before {
  background-color: #00ba94;
}

.step-teal .step-item.active a:before {
  border-color: #00ba94;
}

.step-cyan .step-item:not(:first-child):before {
  background-color: #00cfd5;
}

.step-cyan .step-item .step-item-link {
  color: #00cfd5;
}

.step-cyan .step-item .step-item-link:before {
  background-color: #00cfd5;
}

.step-cyan .step-item.active a:before {
  border-color: #00cfd5;
}

.step-blue .step-item:not(:first-child):before {
  background-color: #0061f2;
}

.step-blue .step-item .step-item-link {
  color: #0061f2;
}

.step-blue .step-item .step-item-link:before {
  background-color: #0061f2;
}

.step-blue .step-item.active a:before {
  border-color: #0061f2;
}

.step-indigo .step-item:not(:first-child):before {
  background-color: #5800e8;
}

.step-indigo .step-item .step-item-link {
  color: #5800e8;
}

.step-indigo .step-item .step-item-link:before {
  background-color: #5800e8;
}

.step-indigo .step-item.active a:before {
  border-color: #5800e8;
}

.step-purple .step-item:not(:first-child):before {
  background-color: #6900c7;
}

.step-purple .step-item .step-item-link {
  color: #6900c7;
}

.step-purple .step-item .step-item-link:before {
  background-color: #6900c7;
}

.step-purple .step-item.active a:before {
  border-color: #6900c7;
}

.step-pink .step-item:not(:first-child):before {
  background-color: #e30059;
}

.step-pink .step-item .step-item-link {
  color: #e30059;
}

.step-pink .step-item .step-item-link:before {
  background-color: #e30059;
}

.step-pink .step-item.active a:before {
  border-color: #e30059;
}

.step-red-soft .step-item:not(:first-child):before {
  background-color: #f1e0e3;
}

.step-red-soft .step-item .step-item-link {
  color: #f1e0e3;
}

.step-red-soft .step-item .step-item-link:before {
  background-color: #f1e0e3;
}

.step-red-soft .step-item.active a:before {
  border-color: #f1e0e3;
}

.step-orange-soft .step-item:not(:first-child):before {
  background-color: #f3e7e3;
}

.step-orange-soft .step-item .step-item-link {
  color: #f3e7e3;
}

.step-orange-soft .step-item .step-item-link:before {
  background-color: #f3e7e3;
}

.step-orange-soft .step-item.active a:before {
  border-color: #f3e7e3;
}

.step-yellow-soft .step-item:not(:first-child):before {
  background-color: #f2eee3;
}

.step-yellow-soft .step-item .step-item-link {
  color: #f2eee3;
}

.step-yellow-soft .step-item .step-item-link:before {
  background-color: #f2eee3;
}

.step-yellow-soft .step-item.active a:before {
  border-color: #f2eee3;
}

.step-green-soft .step-item:not(:first-child):before {
  background-color: #daefed;
}

.step-green-soft .step-item .step-item-link {
  color: #daefed;
}

.step-green-soft .step-item .step-item-link:before {
  background-color: #daefed;
}

.step-green-soft .step-item.active a:before {
  border-color: #daefed;
}

.step-teal-soft .step-item:not(:first-child):before {
  background-color: #daf0f2;
}

.step-teal-soft .step-item .step-item-link {
  color: #daf0f2;
}

.step-teal-soft .step-item .step-item-link:before {
  background-color: #daf0f2;
}

.step-teal-soft .step-item.active a:before {
  border-color: #daf0f2;
}

.step-cyan-soft .step-item:not(:first-child):before {
  background-color: #daf2f8;
}

.step-cyan-soft .step-item .step-item-link {
  color: #daf2f8;
}

.step-cyan-soft .step-item .step-item-link:before {
  background-color: #daf2f8;
}

.step-cyan-soft .step-item.active a:before {
  border-color: #daf2f8;
}

.step-blue-soft .step-item:not(:first-child):before {
  background-color: #dae7fb;
}

.step-blue-soft .step-item .step-item-link {
  color: #dae7fb;
}

.step-blue-soft .step-item .step-item-link:before {
  background-color: #dae7fb;
}

.step-blue-soft .step-item.active a:before {
  border-color: #dae7fb;
}

.step-indigo-soft .step-item:not(:first-child):before {
  background-color: #e3ddfa;
}

.step-indigo-soft .step-item .step-item-link {
  color: #e3ddfa;
}

.step-indigo-soft .step-item .step-item-link:before {
  background-color: #e3ddfa;
}

.step-indigo-soft .step-item.active a:before {
  border-color: #e3ddfa;
}

.step-purple-soft .step-item:not(:first-child):before {
  background-color: #e4ddf7;
}

.step-purple-soft .step-item .step-item-link {
  color: #e4ddf7;
}

.step-purple-soft .step-item .step-item-link:before {
  background-color: #e4ddf7;
}

.step-purple-soft .step-item.active a:before {
  border-color: #e4ddf7;
}

.step-pink-soft .step-item:not(:first-child):before {
  background-color: #f1ddec;
}

.step-pink-soft .step-item .step-item-link {
  color: #f1ddec;
}

.step-pink-soft .step-item .step-item-link:before {
  background-color: #f1ddec;
}

.step-pink-soft .step-item.active a:before {
  border-color: #f1ddec;
}

.step-primary-soft .step-item:not(:first-child):before {
  background-color: #dae7fb;
}

.step-primary-soft .step-item .step-item-link {
  color: #dae7fb;
}

.step-primary-soft .step-item .step-item-link:before {
  background-color: #dae7fb;
}

.step-primary-soft .step-item.active a:before {
  border-color: #dae7fb;
}

.step-secondary-soft .step-item:not(:first-child):before {
  background-color: #e4ddf7;
}

.step-secondary-soft .step-item .step-item-link {
  color: #e4ddf7;
}

.step-secondary-soft .step-item .step-item-link:before {
  background-color: #e4ddf7;
}

.step-secondary-soft .step-item.active a:before {
  border-color: #e4ddf7;
}

.step-success-soft .step-item:not(:first-child):before {
  background-color: #daefed;
}

.step-success-soft .step-item .step-item-link {
  color: #daefed;
}

.step-success-soft .step-item .step-item-link:before {
  background-color: #daefed;
}

.step-success-soft .step-item.active a:before {
  border-color: #daefed;
}

.step-info-soft .step-item:not(:first-child):before {
  background-color: #daf2f8;
}

.step-info-soft .step-item .step-item-link {
  color: #daf2f8;
}

.step-info-soft .step-item .step-item-link:before {
  background-color: #daf2f8;
}

.step-info-soft .step-item.active a:before {
  border-color: #daf2f8;
}

.step-warning-soft .step-item:not(:first-child):before {
  background-color: #f2eee3;
}

.step-warning-soft .step-item .step-item-link {
  color: #f2eee3;
}

.step-warning-soft .step-item .step-item-link:before {
  background-color: #f2eee3;
}

.step-warning-soft .step-item.active a:before {
  border-color: #f2eee3;
}

.step-danger-soft .step-item:not(:first-child):before {
  background-color: #f1e0e3;
}

.step-danger-soft .step-item .step-item-link {
  color: #f1e0e3;
}

.step-danger-soft .step-item .step-item-link:before {
  background-color: #f1e0e3;
}

.step-danger-soft .step-item.active a:before {
  border-color: #f1e0e3;
}

.btn-warning {
  --bs-btn-color: #000;
  --bs-btn-bg: #ffb300;
  --bs-btn-border-color: #ffb300;
  --bs-btn-hover-color: #000;
  --bs-btn-hover-bg: #ffbe26;
  --bs-btn-hover-border-color: #ffbb1a;
  --bs-btn-focus-shadow-rgb: 217, 152, 0;
  --bs-btn-active-color: #000;
  --bs-btn-active-bg: #ffc233;
  --bs-btn-active-border-color: #ffbb1a;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #000;
  --bs-btn-disabled-bg: #ffb300;
  --bs-btn-disabled-border-color: #ffb300;
}

.btn-danger {
  --bs-btn-color: #fff;
  --bs-btn-bg: #d32f2f;
  --bs-btn-border-color: #d32f2f;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #b32828;
  --bs-btn-hover-border-color: #a92626;
  --bs-btn-focus-shadow-rgb: 218, 78, 78;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #a92626;
  --bs-btn-active-border-color: #9e2323;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #d32f2f;
  --bs-btn-disabled-border-color: #d32f2f;
}

.btn-light {
  --bs-btn-color: #000;
  --bs-btn-bg: #f5f5f5;
  --bs-btn-border-color: #f5f5f5;
  --bs-btn-hover-color: #000;
  --bs-btn-hover-bg: #d0d0d0;
  --bs-btn-hover-border-color: #c4c4c4;
  --bs-btn-focus-shadow-rgb: 208, 208, 208;
  --bs-btn-active-color: #000;
  --bs-btn-active-bg: #c4c4c4;
  --bs-btn-active-border-color: #b8b8b8;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #000;
  --bs-btn-disabled-bg: #f5f5f5;
  --bs-btn-disabled-border-color: #f5f5f5;
}

.btn-dark {
  --bs-btn-color: #fff;
  --bs-btn-bg: #212121;
  --bs-btn-border-color: #212121;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #424242;
  --bs-btn-hover-border-color: #373737;
  --bs-btn-focus-shadow-rgb: 66, 66, 66;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #4d4d4d;
  --bs-btn-active-border-color: #373737;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #212121;
  --bs-btn-disabled-border-color: #212121;
}

.btn-white {
  --bs-btn-color: #000;
  --bs-btn-bg: #fff;
  --bs-btn-border-color: #fff;
  --bs-btn-hover-color: #000;
  --bs-btn-hover-bg: white;
  --bs-btn-hover-border-color: white;
  --bs-btn-focus-shadow-rgb: 217, 217, 217;
  --bs-btn-active-color: #000;
  --bs-btn-active-bg: white;
  --bs-btn-active-border-color: white;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #000;
  --bs-btn-disabled-bg: #fff;
  --bs-btn-disabled-border-color: #fff;
}

.btn-black {
  --bs-btn-color: #fff;
  --bs-btn-bg: #000;
  --bs-btn-border-color: #000;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: black;
  --bs-btn-hover-border-color: black;
  --bs-btn-focus-shadow-rgb: 38, 38, 38;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: black;
  --bs-btn-active-border-color: black;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #000;
  --bs-btn-disabled-border-color: #000;
}

.btn-gray {
  --bs-btn-color: #000;
  --bs-btn-bg: #9e9e9e;
  --bs-btn-border-color: #9e9e9e;
  --bs-btn-hover-color: #000;
  --bs-btn-hover-bg: #adadad;
  --bs-btn-hover-border-color: #a8a8a8;
  --bs-btn-focus-shadow-rgb: 134, 134, 134;
  --bs-btn-active-color: #000;
  --bs-btn-active-bg: #b1b1b1;
  --bs-btn-active-border-color: #a8a8a8;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #000;
  --bs-btn-disabled-bg: #9e9e9e;
  --bs-btn-disabled-border-color: #9e9e9e;
}

.btn-outline-primary, div.code-toolbar > .toolbar > .toolbar-item a,
div.code-toolbar > .toolbar > .toolbar-item button {
  --bs-btn-color: #6200ea;
  --bs-btn-border-color: #6200ea;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #6200ea;
  --bs-btn-hover-border-color: #6200ea;
  --bs-btn-focus-shadow-rgb: 98, 0, 234;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #6200ea;
  --bs-btn-active-border-color: #6200ea;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #6200ea;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #6200ea;
  --bs-gradient: none;
}

.btn-outline-secondary {
  --bs-btn-color: #9c27b0;
  --bs-btn-border-color: #9c27b0;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #9c27b0;
  --bs-btn-hover-border-color: #9c27b0;
  --bs-btn-focus-shadow-rgb: 156, 39, 176;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #9c27b0;
  --bs-btn-active-border-color: #9c27b0;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #9c27b0;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #9c27b0;
  --bs-gradient: none;
}

.btn-outline-success {
  --bs-btn-color: #2e7d32;
  --bs-btn-border-color: #2e7d32;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #2e7d32;
  --bs-btn-hover-border-color: #2e7d32;
  --bs-btn-focus-shadow-rgb: 46, 125, 50;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #2e7d32;
  --bs-btn-active-border-color: #2e7d32;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #2e7d32;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #2e7d32;
  --bs-gradient: none;
}

.btn-outline-info {
  --bs-btn-color: #26a69a;
  --bs-btn-border-color: #26a69a;
  --bs-btn-hover-color: #000;
  --bs-btn-hover-bg: #26a69a;
  --bs-btn-hover-border-color: #26a69a;
  --bs-btn-focus-shadow-rgb: 38, 166, 154;
  --bs-btn-active-color: #000;
  --bs-btn-active-bg: #26a69a;
  --bs-btn-active-border-color: #26a69a;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #26a69a;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #26a69a;
  --bs-gradient: none;
}

.btn-outline-warning {
  --bs-btn-color: #ffb300;
  --bs-btn-border-color: #ffb300;
  --bs-btn-hover-color: #000;
  --bs-btn-hover-bg: #ffb300;
  --bs-btn-hover-border-color: #ffb300;
  --bs-btn-focus-shadow-rgb: 255, 179, 0;
  --bs-btn-active-color: #000;
  --bs-btn-active-bg: #ffb300;
  --bs-btn-active-border-color: #ffb300;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #ffb300;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #ffb300;
  --bs-gradient: none;
}

.btn-outline-danger {
  --bs-btn-color: #d32f2f;
  --bs-btn-border-color: #d32f2f;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #d32f2f;
  --bs-btn-hover-border-color: #d32f2f;
  --bs-btn-focus-shadow-rgb: 211, 47, 47;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #d32f2f;
  --bs-btn-active-border-color: #d32f2f;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #d32f2f;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #d32f2f;
  --bs-gradient: none;
}

.btn-outline-light, .masthead .btn-masthead {
  --bs-btn-color: #f5f5f5;
  --bs-btn-border-color: #f5f5f5;
  --bs-btn-hover-color: #000;
  --bs-btn-hover-bg: #f5f5f5;
  --bs-btn-hover-border-color: #f5f5f5;
  --bs-btn-focus-shadow-rgb: 245, 245, 245;
  --bs-btn-active-color: #000;
  --bs-btn-active-bg: #f5f5f5;
  --bs-btn-active-border-color: #f5f5f5;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #f5f5f5;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #f5f5f5;
  --bs-gradient: none;
}

.btn-outline-dark, .masthead.bg-light .btn-masthead, .masthead.footer-light .btn-masthead,
.masthead.bg-white .btn-masthead {
  --bs-btn-color: #212121;
  --bs-btn-border-color: #212121;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #212121;
  --bs-btn-hover-border-color: #212121;
  --bs-btn-focus-shadow-rgb: 33, 33, 33;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #212121;
  --bs-btn-active-border-color: #212121;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #212121;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #212121;
  --bs-gradient: none;
}

.btn-outline-white {
  --bs-btn-color: #fff;
  --bs-btn-border-color: #fff;
  --bs-btn-hover-color: #000;
  --bs-btn-hover-bg: #fff;
  --bs-btn-hover-border-color: #fff;
  --bs-btn-focus-shadow-rgb: 255, 255, 255;
  --bs-btn-active-color: #000;
  --bs-btn-active-bg: #fff;
  --bs-btn-active-border-color: #fff;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #fff;
  --bs-gradient: none;
}

.btn-outline-black {
  --bs-btn-color: #000;
  --bs-btn-border-color: #000;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #000;
  --bs-btn-hover-border-color: #000;
  --bs-btn-focus-shadow-rgb: 0, 0, 0;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #000;
  --bs-btn-active-border-color: #000;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #000;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #000;
  --bs-gradient: none;
}

.btn-outline-gray {
  --bs-btn-color: #9e9e9e;
  --bs-btn-border-color: #9e9e9e;
  --bs-btn-hover-color: #000;
  --bs-btn-hover-bg: #9e9e9e;
  --bs-btn-hover-border-color: #9e9e9e;
  --bs-btn-focus-shadow-rgb: 158, 158, 158;
  --bs-btn-active-color: #000;
  --bs-btn-active-bg: #9e9e9e;
  --bs-btn-active-border-color: #9e9e9e;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #9e9e9e;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #9e9e9e;
  --bs-gradient: none;
}